/* styles.css */

/* Reset de estilos */
/* Define margem e padding como 0 para todos os elementos */
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Estilo global */
/* Define a fonte, cor de fundo e cor do texto do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Define a largura máxima do contêiner, margem e preenchimento */
.container {
    max-width: 2000px;
    margin: 30 auto;
    padding: 20px;
}

/* Estilo do cabeçalho */
header {
    position: fixed;
    /* Fixa o cabeçalho na parte superior da página */
    top: 0;
    left: 0;
    right: 0;
    background-color: #24292e;
    padding: 10px;
    z-index: 1;
    /* Coloca o cabeçalho acima de outros elementos */
}

/* Estilo da navegação */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

/* Estilo da barra lateral */
aside {
    position: fixed;
    /* Fixa a barra lateral na posição */
    top: 40px;
    /* Distância do topo */
    bottom: 0;
    /* Alinha à parte inferior */
    width: 250px;
    left: 0;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

aside .profile {
    text-align: center;
    margin-bottom: 200px;
    /* Define a margem inferior */
}


aside .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 50px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.profile:hover img {
    transform: scale(1.1);
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

aside .stats {
    display: flex;
    justify-content: space-between;
}

aside .stats div {
    text-align: center;
}

aside .stats h3 {
    font-size: 16px;
    font-weight: bold;
}

aside .stats p {
    font-size: 14px;
    margin-top: 5px;
}

/* Estilo do conteúdo principal */
.main-content {
    margin-left: 320px;
    /* Define a margem esquerda para acomodar a barra lateral */
}

.post {
    color: rgba(217, 217, 227, var(--tw-text-opacity));
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 300px;
    position: relative;
}

.post {
    color: rgba(217, 217, 227, var(--tw-text-opacity));
    margin-bottom: 30px;
    padding: 30px;
    margin-top: 30;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.post-header h4 {
    font-size: 16px;
}

.post-header p {
    font-size: 14px;
    color: #777;
}

.post-actions button {
    background-color: #24292e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.post-actions button:hover {
    background-color: #333;
}


.profile h2 {
    font-size: 24px;
    margin-top: 30px;
    animation: digitar 4s linear infinite;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes digitar {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

/* Estilização do campo de pesquisa */
#search-form {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-input::placeholder {
    color: #999;
}

#search-input:focus {
    outline: none;
    border-color: #5f9ea0;
}

#search-input:focus::placeholder {
    color: #ccc;
}

/* Estilização do botão de busca */
#search-form button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #5f9ea0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search-form button:hover {
    background-color: #4682b4;
}




.actions {

    text-align: center;
}

.actions button {
    margin-top: 4px;
    padding: 10px 20px;
    background-color: #5f9ea0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #4682b4;
}


/* Animação de zoom-in */
@keyframes zoom-in {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    aside,
    .main-content {
        margin-bottom: 20px;
        width: 100%;
        position: relative;
    }

    aside {
        top: 0;
        bottom: auto;
        position: static;
        width: 100%;
    }

    .main-content {
        margin-left: 0;
    }
}