<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>

<!-- Aqui esta os  elementos da  tela -->
<form>
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" placeholder="Digite o nome">
    <label for="descricao">Descrição:</label>
    <textarea id="descricao" name="descricao" placeholder="Digite a descrição"></textarea>
    <button type="button" id="criar">Criar</button>
    <button type="button" id="editar">Editar</button>
    <button type="button" id="eliminar">Eliminar</button>
    <button type="button" id="ler">Ler</button>

    <!--
    <select name="sel" id="sel">
        <option value="" selected>Selecione uma opcao</option>
        <option value="Documento">Documento</option>
        <option value="Carro">Carro</option>
    </select>
    -->
</form>
<script src="../JavaScript/teste.js"></script>
</body>
</html>